@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
/* font-family: 'Noto Sans', sans-serif; TIPOGRAFÍA: RALEWAY */

@import url('https://fonts.googleapis.com/css?family=Oswald:400&display=swap');
/*font-family: 'Oswald', sans-serif; */

@import url('https://fonts.googleapis.com/css?family=Oswald:200&display=swap');
/* font-family: 'Oswald', sans-serif; */

* {
    padding: 0;
    /* espacio entre el contenido y el contenedor*/
    margin: 0;
    /* establece el margen para los cuatro lados*/
}

body {
    background-image: url('../img/fondoViano.jpg');
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
    /*scroll de la imagen*/
}

.menuNav {
    width: 100%;
    background-color: navy;
    display: flex;
    /*sirve para que el contenido se pueda acomodar o estirar y por defecto en row (en fila) */
    justify-content: space-evenly;
    /*deja un espacio entre cada items (ver en pag css-tricks.com)*/
    align-items: center;
    /*lo centra pero verticalmente (ver en pag css-tricks.com)*/
    padding-top: 2%;
    padding-bottom: 2%;
}

.botonesNav {
    display: flex;
    flex-grow: 2;
    /*hace que se estire el item (ver en pag css-tricks.com)*/
    justify-content: center;
    /*lo que esté en el medio lo va a centrar, lo deja si o si en el medio)*/
    list-style: none;
    /*elimina los puntos (bullets) de la lista */
    padding: 2%;
}

.botonesNav li {
    position: relative;
    margin: 2%;
}

.botonesNav a {
    text-decoration: none;
    /*elimina el subrayado de los links*/
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
}

/* Contenedor de imagen 
A este contenedor siempre generalmente le ponemos un width y height */

.logos {
    width: 10%;
    height: 10%;
    padding-left: 5%;
}

/* Ctrl k C para hacer comentarios. 
A las imágenes ponerle siempre un widht de 100% y height auto para que se ajusten a la página. 
El TAMAÑO SE LE CAMBIA EN EN EL CONTENEDOR (ej: .logos) */

.logos img {
    width: 100%;
    height: auto;
}

.logo2 {
    padding-right: 5%;
}

/* BODY */

.section {
    width: 100%;
}

.textoSection {
    color: white;
    padding: 15%;
    height: auto;
    padding-left: 5%;
    /*se corre a la derecha*/
    font-family: 'Noto Sans', sans-serif;
    font-size: 22px;
}

.textoSection p {
    color: navy;
    font-size: 20px;
}

.logoSection img {
    width: 100%;
    height: auto;
}

.logoSection {
    width: 20%;
    height: 20%;
    padding-left: 5%;
    padding: 4%;
    padding-left: 8%;
    /*se corre a la derecha*/
}

.footer {
    background-color: navy;
    width: 100%;
    padding-bottom: 1%;
    /* Abajo. espacio entre el contenido y el contenedor*/
    padding-top: 1%;
    /* Arriba. espacio entre el contenido y el contenedor*/
}

.textoFooter {
    color: white;
    padding: 1%;
    height: auto;
    padding-left: 5%;
    /*se corre a la derecha*/
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}

.botonesNav li a:hover {
    color: rgb(11, 235, 243);
}

/* Modificaciones del submenu */

.menuNav ul {
    list-style: none;
}

.subMenu {
    position: absolute;
    width: 300%;
    background-color: navy;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.subMenu li a {
    display: block;
    padding: 10px 0px;
    font-size: 13px;
}

.botonesNav li:hover .subMenu {
    visibility: visible;
    ;
    opacity: 1;
}

#selector-idiomas {
    width: 85px;
    height: 30px;
}

.section-home {
    width: 100%;
}

/* HISTORIA */

.section-general {
    width: 100%;
    background-color: white;
}

.textoSection-historia {
    color: #000769;
    padding: 3%;
    height: auto;
    padding-left: 15%;
    /*se corre a la derecha*/
    font-family: 'Oswald', sans-serif;
    font-size: 33px;
}

.textoSection-historia p {
    color: #000769;
    font-size: 53px;
    font-weight: lighter;
}

.textoSection2-historia {
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    color: rgb(43, 42, 42);
    font-family: 'Noto Sans';
    padding-bottom: 6%;
    font-size: 18px;
}

.textoSection2-historia p {
    padding-bottom: 3%;
    /* Abajo. espacio entre el contenido y el contenedor*/
    padding-top: 3%;
    /* Arriba. espacio entre el contenido y el contenedor*/
}

.contenedor-historias {
    display: flex;
    margin-left: 80px;
    margin-right: 90px;
}

.contenedor-historias div {
    margin-right: 3px;
}

.div-historias {
    width: 200px;
}

.div-historias img {
    width: 100%;
}

/* PRODUCTOS */

.textoSection-producto {
    color: #000769;
    padding: 3%;
    height: auto;
    padding-left: 15%;
    /*se corre a la derecha*/
    font-family: 'Oswald', sans-serif;
    font-size: 33px;
}

.textoSection-producto p {
    color: #000769;
    font-family: 'Oswald', sans-serif;
    font-size: 43px;
    font-weight: lighter;
}

.textoSection2-producto {
    padding-left: 15%;
    color: rgb(43, 42, 42);
    width: 25%;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}

.textoSection2-producto p {
    padding-bottom: 1%;
    /* Abajo. espacio entre el contenido y el contenedor*/
    padding-top: 3%;
    /* Arriba. espacio entre el contenido y el contenedor*/
}

.productoViano img {
    width: 100%;
    height: auto;
}

.productoViano {
    width: 75%;
    padding-left: 13%;
}

.carruselViano img {
    width: 100%;
    height: auto;
}

.carruselViano {
    width: 20%;
    display: flex;
    /* Pasaron uno al lado del otro. sirve para que el contenido se pueda acomodar o estirar y por defecto en row (en fila) */
    padding: 7%;
}

/* RUMP */

.textoSection-rump {
    color: #000769;
    padding: 3%;
    height: auto;
    padding-left: 15%;
    /*se corre a la derecha*/
    font-family: 'Oswald', sans-serif;
    font-size: 33px;
}

.textoSection-rump p {
    color: #000769;
    font-family: 'Oswald', sans-serif;
    font-size: 53px;
    font-weight: lighter;
}

.textoSection2-rump {
    padding-left: 15%;
    color: rgb(43, 42, 42);
    width: 80%;
    font-family: 'Noto Sans';
    padding-bottom: 6%;
    font-size: 18px;
}

.contenedor-certificados {
    padding-top: 50px;
    margin-right: 150px;
    margin-bottom: 50px;
}

.textoSection2-rump p {
    padding-bottom: 3%;
    /* Abajo. espacio entre el contenido y el contenedor*/
    padding-top: 3%;
    /* Arriba. espacio entre el contenido y el contenedor*/
}

.div-img-ministerio {
    width: 300px;
}

.div-img-ministerio img {
    width: 100%;
}

.div-certificados {
    width: 500px;
    cursor: pointer;
    transition: 0.3s;
}

.div-certificados:hover {
    opacity: 0.5;
}

.div-certificados img {
    width: 100%;
}

.contenedor-rump-texto-certificaciones {
    display: flex;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (image) */

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */

.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

/* INTI */

.textoSection-inti {
    color: #000769;
    padding: 3%;
    height: auto;
    padding-left: 15%;
    /*se corre a la derecha*/
    font-family: 'Oswald', sans-serif;
    font-size: 33px;
}

.textoSection-inti p {
    color: #000769;
    font-family: 'Oswald', sans-serif;
    font-size: 53px;
    font-weight: lighter;
}

.textoSection2-inti {
    padding-left: 15%;
    color: rgb(43, 42, 42);
    width: 45%;
    font-family: 'Noto Sans';
    padding-bottom: 6%;
    font-size: 18px;
}

.textoSection2-inti p {
    padding-bottom: 3%;
    /* Abajo. espacio entre el contenido y el contenedor*/
    padding-top: 3%;
    /* Arriba. espacio entre el contenido y el contenedor*/
}

/* CONTACTO */

.textoSection-contacto {
    color: #000769;
    padding: 3%;
    height: auto;
    padding-left: 15%;
    /*se corre a la derecha*/
    font-family: 'Oswald', sans-serif;
    font-size: 33px;
}

.textoSection2-contacto p {
    font-family: 'Noto Sans', sans-serif;
    padding-left: 15%;
    color: rgb(43, 42, 42);
}

.textoAtencionAlCliente {
    font-family: 'Noto Sans', sans-serif;
    padding-left: 15%;
    color: #000769;
    padding-bottom: 3%;
    /* Abajo. espacio entre el contenido y el contenedor*/
    padding-top: 3%;
    /* Arriba. espacio entre el contenido y el contenedor*/
}

.button {
    /* Para posicionar los botones a la misma posición que los campos de texto */
    padding-left: 343px;
    /* mismo tamaño a todos los elementos label */
    padding-bottom: 3%;
    /* Abajo. espacio entre el contenido y el contenedor*/
    padding-top: 3%;
    /* Arriba. espacio entre el contenido y el contenedor*/
}

button {
    /* Este margen extra representa aproximadamente el mismo espacio que el espacio
       entre los labels y sus campos de texto */
    margin-left: .5em;
    background-color: #000769;
    font: normal normal normal 15px/1.4em raleway, sans-serif;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input-datos {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #39c;
    padding-left: 15px;
}

.contenedor-label {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}

.input-textarea {
    font: 0.80em sans-serif;
    ;
    width: 300px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #39c;
    padding-top: 5px;
    padding-left: 15px;
}

.boton-enviar {
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    color: black;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

.boton-enviar:hover {
    background-color: #008CBA;
    color: white;
}

.section-general-certificaciones {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 80px;
}

.img-certificaciones {
    width: 100%;
}

.contenedor-img {
    width: 450px;
}

#img-inti {
    width: 250px;
}

.contenedor-certificaciones {
    width: 850px;
}

.textoSection-certificaciones {
    display: flex;
    color: #000769;
    height: auto;
    font-family: 'Oswald', sans-serif;
    font-size: 33px;
    margin-bottom: 60px;
}

.textoSection-certificaciones p {
    color: #000769;
    font-size: 53px;
    font-weight: lighter;
}

.contenedor-fila {
    width: 600px;
}

.select-css {
	display: block;
	font-size: 14px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .4em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%; /* useful when width is set to anything other than 100% */
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	/* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
		for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
		
	*/
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	/* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
	background-position: right .7em top 50%, 0 0;
	/* icon size, then gradient */
	background-size: .65em auto, 100%;
}
/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
	display: none;
}
/* Hover style */
.select-css:hover {
	border-color: #888;
}
/* Focus style */
.select-css:focus {
	border-color: #aaa;
	/* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222; 
	outline: none;
}

/* Set options to normal weight */
.select-css option {
	font-weight:normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
	background-position: left .7em top 50%, 0 0;
	padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.select-css:disabled, .select-css[aria-disabled=true] {
	color: graytext;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}

.select-css:disabled:hover, .select-css[aria-disabled=true] {
	/* border-color: #aaa; */
}